<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
        integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
    <link rel="stylesheet" href="impact.css">
    <title>Impact</title>
</head>

<body>
    <header id="main-header">
        <div class="bg-secondary">
            <div class="container">
                <div class="contact-container">
                    <div class="contacts">
                        <a href="#">contact@example.com</a>
                        <a href="#">+1 5589 55488 55</a>
                    </div>
                    <div class="social">
                        <a href="http://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="http://twitter.com" target="_blank"><i class="fab fa-twitter "></i></a>
                        <a href="http://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="http://youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-primary">
            <div class="container">
                <nav id="navbar" class="navbar">
                    <h1>Impact</h1>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Potfolio</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Drop Drown</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section id="showcase" class="bg-primary">
        <div class="container">
            <div class="showcase-info">
                <h2 class="l-heading">Welcome to Impact</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, eligendi? Architecto error repellat
                    placeat
                    deserunt.</p>
                <div class="buttons-container">
                    <a href="#" class="btn btn-primary">Get Started</a>
                    <a href="http://youtube.com" target="_blank" class="btn"><i class="fab fa-youtube fa-2x"></i >   Watch Video</a>
                </div>
            </div>
        </div>
    </section>
    <section id="cards">
        <div class="container">
            <ul>
                <li><i class="fab fa-instagram fa-2x"></i>Lorem, ipsum.</li>
                <li><i class="fab fa-twitter  fa-2x"></i >Lorem, ipsum.</li>
                <li><i class="fab fa-facebook fa-2x"></i >Lorem, ipsum.</li>
                <li><i class="fab fa-youtube fa-2x"></i >Lorem, ipsum.</li>
            </ul>
        </div>
    </section>
</body>

</html>